@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #07091e;
  color: #fff;
}
/* .container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
} */

.singInButton {
  background: linear-gradient(#07091e, #07091e) padding-box,
    linear-gradient(to right, #00b6bd, #4ee39d) border-box;
  border-radius: 50px;
  border: 1px solid transparent;
}

.signUpButton {
  border-radius: 50px;
  background: linear-gradient(137deg, #00b6bd 5.28%, #acffad 95.01%);
}
.andText {
  background: linear-gradient(148deg, #2cb49f -24.15%, #39f29b 84.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userText {
  background: linear-gradient(164deg, #00b6bd 41.09%, #acffad 78.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.featuresCard {
  background: linear-gradient(#07091e, #07091e) padding-box,
    linear-gradient(to bottom, #642cb6, #4ee39d) border-box;
  border-radius: 50px;
  border: 2px solid transparent;
}

.burgerContainer {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  /* background-color: #333; */
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.sideBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #07091e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.bannerBlurContainer {
  background-image: url("/upSideBlur.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bannerBlurContainer::before {
  position: absolute;
  content: url("/leftSideBlur.png");
  top: 0;
  left: 0;
  z-index: -1;
}
.bannerBlurContainer::after {
  position: absolute;
  content: url("/rightSideBlur.png");
  top: 0;
  right: 0;
  z-index: -1;
}

.featuresContainer {
  background-image: url("/downSideBlur.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.broserPluginContainer {
  background-image: url("/rightSideBlur.png");
  background-repeat: no-repeat;
  background-position: right;
}

.gptProfContainer {
  position: relative;
}
.gptProfContainer::before {
  position: absolute;
  /* background-image: url("../assets/images/leftSideBlur.png");
  background-repeat: no-repeat;
  background-position: left; */
  content: url("/sectionLeftSideBlur.png");
  top: -240px;
  left: 0;
}

.documentsOcrContainer {
  background-image: url("/rightSideBlur.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.chatWithPdfContainer {
  position: relative;
}

.chatWithPdfContainer::before {
  position: absolute;
  content: url("/sectionLeftSideBlur.png");
  left: 0;
  top: -120px;
}

.audioVideoContainer {
  position: relative;
}

.audioVideoContainer::before {
  position: absolute;
  content: url("/rightSideBlur.png");
  top: -120px;
  right: 0;
}

.diagramPluginContainer {
  position: relative;
}
.diagramPluginContainer::before {
  position: absolute;
  content: url("/sectionLeftSideBlur.png");
  top: -240px;
  left: 0;
}

.youtubeVideoContainer {
  position: relative;
}

.youtubeVideoContainer::before {
  position: absolute;
  content: url("/rightSideBlur.png");
  top: -240px;
  right: 0;
}
.questionAnswerContainer {
  position: relative;
  padding-bottom: 240px;
  background-image: url("/rightSideBlur.png");
  background-repeat: no-repeat;
  background-position: right bottom -50%;
}

.questionAnswerContainer::before {
  position: absolute;
  content: url("/sectionLeftSideBlur.png");
  top: -240px;
  left: 0;
}

.focusSubScriptionCard {
  background: linear-gradient(137deg, #00b6bd 5.28%, #acffad 95.01%);
}
