@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #07091e;
  color: #fff;
}
.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.singInButton {
  background: linear-gradient(#07091e, #07091e) padding-box,
    linear-gradient(to right, #00b6bd, #4ee39d) border-box;
  border-radius: 50px;
  border: 1.5px solid transparent;
}

.signUpButton {
  border-radius: 50px;
  background: linear-gradient(137deg, #00b6bd 5.28%, #acffad 95.01%);
}
.andText {
  background: linear-gradient(148deg, #2cb49f -24.15%, #39f29b 84.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userText {
  background: linear-gradient(164deg, #00b6bd 41.09%, #acffad 78.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
